<div class="alert alert-success">
    <input type="text" id="vat" [(ngModel)]="vatRequest" placeholder="Search Vat Number" class="form-control w-100">
</div>


<div *ngIf="vatRequest!=''">
    <h5>{{message}}</h5>
</div>

<div *ngIf="(user.vat == vatRequest)" class="card user-card mb-4">
    <div class="card-body">
        <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
        <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
        <p class="card-text"><strong>VAT:</strong> {{ user.vat }}</p>
        <p class="card-text"><strong>Mobile Phone:</strong> {{ user.mobilePhone }}</p>
    </div>
</div>

<button class="btn btn-secondary ms-1" (click)="goTable()">Back to Home</button>
<button type="submit" class="btn btn-primary" (click)="loadCustomerByVat()">Search User</button>

<!--  -->
<!-- *ngIf="(user.vat == vatRequest) || vatRequest ==''"  -->